/* css meyer untuk melakukan css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.discover input, .discover-container .nav {
  border: none;
  border-radius: 0.75em;
}

.tasklist-container, .discover-container {
  flex-basis: 50%;
}

.projects, .discover {
  width: 60%;
  margin: 100px auto;
}

.other h1, .landing-page h1, .travel-app h1, .easy-crypto h1, .cyber-punk h1, .green-house h1 {
  border-radius: 0.5em;
  padding: 40px;
  margin-top: 20px;
}

.landing-page, .travel-app, .easy-crypto, .cyber-punk, .green-house {
  line-height: 50px;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 500;
}

.other, .landing-page, .travel-app, .easy-crypto, .cyber-punk, .green-house {
  text-align: center;
}

body {
  display: flex;
  background-color: #262a41;
  padding: 40px;
}

.discover-container .nav {
  padding: 12px;
  background-color: #3c3f54;
  color: whitesmoke;
}

.discover {
  color: whitesmoke;
  line-height: 45px;
  text-align: center;
}
.discover h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: justify;
}
.discover p {
  font-size: 1.3rem;
  font-weight: 600;
  color: whitesmoke;
  opacity: 0.6;
  text-align: justify;
}
.discover input {
  width: 100%;
  background-color: #3c3f54;
  padding: 20px 40px;
  color: whitesmoke;
  margin-top: 50px;
}
.discover ::placeholder {
  color: whitesmoke;
  opacity: 1;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects::after {
  content: "";
  width: 15em;
}

.green-house h1 {
  background-image: linear-gradient(to top right, #ec008c, #fc6767);
  font-size: 3rem;
  font-weight: 700;
}

.cyber-punk {
  color: whitesmoke;
}
.cyber-punk h1 {
  background-image: linear-gradient(to top right, #67b26f, #4ca2cd);
  font-size: 3rem;
  font-weight: 700;
}

.easy-crypto {
  color: whitesmoke;
}
.easy-crypto h1 {
  background-image: linear-gradient(to top right, #a044ff, #6a3093);
  font-size: 3rem;
  font-weight: 700;
}

.travel-app {
  color: whitesmoke;
}
.travel-app h1 {
  background-image: linear-gradient(to top right, #7f7fd5, #91eae4);
  font-size: 3rem;
  font-weight: 700;
}

.landing-page {
  color: whitesmoke;
}
.landing-page h1 {
  background-image: linear-gradient(to top right, #fdc830, #f37335);
  font-size: 3rem;
  font-weight: 700;
}

.other {
  color: whitesmoke;
}
.other h1 {
  background-color: #3c3f54;
  font-size: 3rem;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
